<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ImageRoot" value="~/images/"/>
    <add key="FilesRoot" value="~/files/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages>
      <controls>
        <add tagPrefix="uc1" namespace="Controls"/>
      </controls>
    </pages>
  </system.web>
</configuration>
